*{
    padding: 0;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(1.jpeg);
    height: 50%;

}
.background{
    margin-left: auto;
    margin-right: auto;
    
}

nav{
    background:lightslategray;
    height: 80%;
    width: 100%;
  
}

label.name{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul a{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul a{
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 13px;
    border-radius: 3px;
}

a:hover{
    background: aquamarine;
    transform: 0.5s;
    padding: 5px;
}

.Welcome{
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 200px;
    margin-bottom: auto;
}

.thanks{
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 100px; 
}

/* .checkbtn{
    font-size: 30px;
    color: black;
    line-height: 80px;
    margin-right: 40px;
} */

@media screen and (min-width:960px ){

    
}

@media screen and (max-width: 688px){
    
    label.name{
        color: white;
        font-size: 30px;
        line-height: 60px;
        padding: 10px;
        font-weight: bold;
        /* margin-left: 130px; */
    }

    .navbar {
       display: flex;
    }
    
    .Welcome{
        margin-top: 150px;
        padding: 20px;
    }
}